* {
 font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    margin: 25px;
    background-image: url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: 20px;
  color: aliceblue;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 15px 25px;
  box-shadow: 0 8px 16px 0 aliceblue;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
}

.button {
    background-color: #008cba;
    height: 10%;
    width: 15%;
    border-radius: 8px;
    color: aliceblue;
    padding: 5px 15px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
    cursor:pointer;
}

.button:hover{
    background-color: #555555;
    color:aliceblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
    transition: .4s ease-in;
}

.header-card{
  background: rgba(178, 176, 177, 0.7);
  border-radius: 30px;
  width: auto;
}
.card{
  display: flex;
  flex-direction: column;
  background: rgba(178, 176, 177, 0.5);
  font-weight: bold;
  color: white;
  padding: 50px;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin-top: -126px;
  margin-right: 10px;;
  align-items: flex-start;
}

.current-weather-info {
  display: flex;
  flex-direction: row-reverse;
}